@model TrainingManagement.AdminTb

@{
    ViewBag.Title = "AdminMenu";
}

<h2>AdminMenu</h2>

<div>
    @Html.ActionLink("Manage Staffs", "index", "Staffs")
    @Html.ActionLink("Manage Trainer", "index", "Trainers")
</div>