@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Administrator Login</h2>
        <p><a class="btn btn-default" href="/Admin/AdminLogin">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Training Staff Login</h2>
        <p><a class="btn btn-default" href="/Staffs/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trainer Login</h2>
        <p><a class="btn btn-default" href="/Trainers/Login">Login &raquo;</a></p>
    </div>
</div>